body {
  margin: 0 4vw;
  background-color: rgb(216, 232, 242);
}

/* SITE GRID LAYOUT */
.site-container {
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "content"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto 90vh auto;
}

.site-container > header {
  grid-area: header;
  background-color: rgb(216, 232, 242);
  text-align: center;
  position: sticky;
  top: 0;
}

.site-container > nav {
  grid-area: nav;
}

.site-container > .content-container {
  grid-area: content;
}

.site-container > footer {
  grid-area: footer;
}

.site-container > .site-grid-item {
  border-bottom: 1px rgb(199, 214, 224) solid;
}

li.font-color a, footer li.font-color a{
  text-decoration: none;
}

/* HEADER SECTION */
h1#name {
  font-size: 4rem;
  font-family: 'Source Code Pro', monospace;
}

/* NAV BAR ANIMATION */
nav li.font-color a, footer li.font-color a{
  color: black;
  transition: color 0.5s ease;
}

nav li.font-color:hover a, footer li.font-color:hover a{
  color: rgb(107, 170, 177);
}

/* NAV SECTION */
nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  text-transform: uppercase;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  padding-right: 2em;
}

/* CONTENT SECTION */
section.content-container {
  display: grid;
  grid-template-areas:
    "cols"
    "quote";
  grid-template-columns: auto;
  grid-template-rows: 3fr 1fr;
}

.content-container div#cols {
  grid-area: cols;
}

.content-container div#quote {
  grid-area: quote;
  margin: 0 2em 2em 2em;
  border-top: 1px rgb(199, 214, 224) solid;
}

.content-container div.flex-container {
  display: flex;
  justify-content: space-around;
  margin: 1em 0;
}

img#img1, img#img2, img#img3 {
  margin: 2em 1em 1em 1em;
  height: 350px;
  width: 350px;
}

.img-container .text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.img-container .text p {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

/* QUOTE */
blockquote {
  width: 100%;
  margin-top: 4em;
  margin-bottom: 4em;
  margin-left: 5em;
  margin-right: 5em;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  padding-top: 2em;
}

/* FOOTER SECTION */
footer ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  text-transform: uppercase;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  padding-left: 2em;
  margin: 1em 3em;
}

footer a[href] {
  text-decoration: none;
  color: black;
}
