body {
  margin: 0 4vw;
  background-color: rgb(216, 232, 242);
}

/* SITE GRID LAYOUT */
.site-container {
  display: grid;
  /* width: 100%; */
  grid-template-areas:
    "header"
    "nav"
    "content"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 2fr auto 7fr auto;
}

.site-container > header {
  grid-area: header;
  background-color: rgb(216, 232, 242);
  text-align: center;
  position: sticky;
  top: 0;
}

.site-container > nav {
  grid-area: nav;
}

.site-container > .content-container {
  grid-area: content;
}

.site-container > footer {
  grid-area: footer;
}

.site-container > .site-grid-item {
  border-bottom: 1px rgb(199, 214, 224) solid;
}

/* HEADER SECTION */
h1#name {
  font-size: 4em;
  font-family: 'Source Code Pro', monospace;
}

/* NAV SECTION */
nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  text-transform: uppercase;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  padding-right: 2em;
}

/* CONTENT SECTION */
section.content-container {
  display: grid;
  grid-template-areas:
    "cols"
    "blog";
  grid-template-columns: auto;
  grid-template-rows: 3fr 1fr;
}

.content-container div#cols {
  grid-area: cols;
}

.content-container div#blog {
  grid-area: blog;
  margin-top: 0;
}

.content-container div.flex-container {
  display: flex;
  justify-content: space-around;
  margin: 1em 0;
}

img#img1, img#img2, img#img3 {
  margin: 2em 1em 1em 1em;
  height: 350px;
  width: 350px;
  /* object-fit: contain; */
}

img#img-blog {
  margin: 1em 3em;
  height: 100px;
  width: 700px;
  /* object-fit: contain; */
}

/* div#blog {
  background-image: url(https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e3b92161cef01773ab8e0f83d4da1126&auto=format&fit=crop&w=800&q=60);
  background-size: contain;
  background-repeat:no-repeat;
  background-position: center;
} */

.content-container > div {
  /* border: 1px solid black; */
}

/* FOOTER SECTION */
footer ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  text-transform: uppercase;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  padding-left: 2em;
  margin: 1em 3em;
}
